In [3]:
import pandas as pd
import os, sys
import glob
import re
import numpy as np
from sklearn.metrics import cohen_kappa_score

In [20]:
df = pd.read_csv("./Stanford_Training/Stanford.csv")
df.head()

,Text,Urgency Practice,Urgency(1-7),CourseType
0,Interesting! How often we say those things to ...,NaN,1.5,Education
1,"What is \Algebra as a Math Game\"" or are you j...",NaN,3.5,Education
2,I like the idea of my kids principal who says ...,NaN,2.5,Education
3,"From their responses, it seems the students re...",NaN,2.5,Education
4,"The boys loved math, because \there is freedom...",NaN,3.0,Education

In [21]:
#drop rows with 0.5 ratings
df = df[(df['Urgency(1-7)'] * 10)%10 == 0]
df.head()

,Text,Urgency Practice,Urgency(1-7),CourseType
4,"The boys loved math, because \there is freedom...",NaN,3.0,Education
5,"the pervasive idea that to be good at Math, is...",NaN,3.0,Education
6,The Peer Review module is not fully set up yet...,NaN,3.0,Education
7,I would like to start the year off by sharing ...,NaN,3.0,Education
8,Great ideas. Asking students to illustrate how...,NaN,3.0,Education

In [22]:
i=0
while (i<4):
    df_samp = df.sample(n=500)
    df = df.drop(df_samp.index)
    df_samp.to_csv("./Stanford_Training/"+str(i)+"_500.csv",index=False)
    i=i+1

In [23]:
i=0
while (i<20):
    df_samp = df.sample(n=20)
    df = df.drop(df_samp.index)
    df_samp.to_csv("./Stanford_Training/"+str(i)+"_20.csv",index=False)
    i=i+1

In [24]:
i=0
while (i<10):
    df_samp = df.sample(n=50)
    df = df.drop(df_samp.index)
    df_samp.to_csv("./Stanford_Training/"+str(i)+"_50.csv",index=False)
    i=i+1

In [25]:
path = "./Stanford_Training/*_20.csv"
for fname in glob.glob(path):
    df = pd.read_csv(fname)
    df.drop('Urgency(1-7)', axis=1, inplace=True)
    df.to_csv(fname[:-4]+"_test.csv", index=False)

In [26]:
path = "./Stanford_Training/*_50.csv"
for fname in glob.glob(path):
    df = pd.read_csv(fname)
    df.drop('Urgency(1-7)', axis=1, inplace=True)
    df.to_csv(fname[:-4]+"_test.csv", index=False)

In [7]:
#Dana
df_ans = pd.read_csv("./Stanford_Training/1_50.csv")
df_test = pd.read_csv("./Stanford_Training/1_50_test.csv")
X = df_ans['Urgency(1-7)'].values
Y = df_test['Urgency Practice'].values
X = np.round(X)
X = X.astype(np.int64)
kappa = cohen_kappa_score(X,Y,weights='linear')
print("Continuous Kappa ",kappa)

df_ans["bin_rating"] = pd.cut(df_ans['Urgency(1-7)'],[0,4,8],labels=[0,1])
df_test["bin_rating"] = pd.cut(df_test['Urgency Practice'],[0,4,8],labels=[0,1])
X_bin = df_ans['bin_rating'].values
Y_bin = df_test['bin_rating'].values
kappa = cohen_kappa_score(X_bin,Y_bin)
print("Binary Classification Kappa: ",kappa)

Continuous Kappa  0.6126033057851239
Binary Classification Kappa:  0.5454545454545454

In [8]:
#Amiee
df_ans = pd.read_csv("./Stanford_Training/0_50.csv")
df_test = pd.read_csv("./Stanford_Training/0_50_test.csv")
X = df_ans['Urgency(1-7)'].values
Y = df_test['Urgency Practice'].values
X = np.round(X)
X = X.astype(np.int64)
kappa = cohen_kappa_score(X,Y,weights='linear')
print("Continuous Kappa ",kappa)

df_ans["bin_rating"] = pd.cut(df_ans['Urgency(1-7)'],[0,4,8],labels=[0,1])
df_test["bin_rating"] = pd.cut(df_test['Urgency Practice'],[0,4,8],labels=[0,1])
X_bin = df_ans['bin_rating'].values
Y_bin = df_test['bin_rating'].values
kappa = cohen_kappa_score(X_bin,Y_bin)
print("Binary Classification Kappa: ",kappa)

Continuous Kappa  0.500243783520234
Binary Classification Kappa:  0.6458923512747875

In [ ]:
def interrater_check (df_ans, df_test):
    X = df_ans['Urgency Practice'].values
    Y = df_test['Urgency Practice'].values
    X = np.round(X)
    X = X.astype(np.int64)
    kappa = cohen_kappa_score(X,Y, weights="linear")
    print("Continuous Kappa ",kappa)
    df_ans["bin_rating"] = pd.cut(df_ans['Urgency Practice'],[0,4,8],labels=[0,1])
    df_test["bin_rating"] = pd.cut(df_test['Urgency Practice'],[0,4,8],labels=[0,1])
    X_bin = df_ans['bin_rating'].values
    Y_bin = df_test['bin_rating'].values
    kappa = cohen_kappa_score(X_bin,Y_bin)
    print("Binary Kappa: ", kappa)

In [21]:
#Nathan
df_ans = pd.read_csv("./Stanford_Training/4_50.csv")
df_test = pd.read_csv("./Stanford_Training/4_50_test_NAL.csv")
print("Nathan Versus Test")
interrater_check(df_ans, df_test)

df_test = pd.read_csv("./Stanford_Training/4_50_test_YZ.csv")
print("\nAmiee Versus Test")
interrater_check(df_ans, df_test)

df_test = pd.read_csv("./Stanford_Training/4_50_test_XY.csv")
print("\nDana Versus Test")
interrater_check(df_ans, df_test)

df_ans = pd.read_csv("./Stanford_Training/4_50_test_NAL.csv")
print("\nN vs D")
interrater_check(df_ans, df_test)

df_ans = pd.read_csv("./Stanford_Training/4_50_test_YZ.csv")
print("\nA vs D")
interrater_check(df_ans, df_test)

df_test = pd.read_csv("./Stanford_Training/4_50_test_NAL.csv")
print("\nA Versus N")
interrater_check(df_ans, df_test)

Nathan Versus Test
Continuous Kappa  0.5748299319727892
Binary Kappa:  0.8106060606060606

Amiee Versus Test
Continuous Kappa  0.4903160040774719
Binary Kappa:  0.6688741721854304

Dana Versus Test
Continuous Kappa  0.5645645645645645
Binary Kappa:  0.8979591836734694

N vs D
Continuous Kappa  0.616695059625213
Binary Kappa:  0.8979591836734694

A vs D
Continuous Kappa  0.4770408163265305
Binary Kappa:  0.736842105263158

A Versus N
Continuous Kappa  0.4825036964021685
Binary Kappa:  0.6688741721854304